<div class="sidebar2">
<aside>
    <h4>External Links</h4>

    <!-- IV -->
    <a href="https://intervarsity.org/" target="_blank"><img class="ivcf" alt="IVCF" /></a>

    <!-- Facebook -->
    <a href="https://www.facebook.com/groups/RCAatRPI/" target="_blank"><img class="fb" alt="Facebook" /></a>

    <a href="https://union.sympa.rpi.edu/wws/subscribe/rca">Get our Emails</a>
</aside>
</div>
