<div class="sidebar2">
<aside>
<h4>External Links</h4>

<!-- IV -->
<a href="https://intervarsity.org/" target="_blank"><img alt="IVCF" height="36" src="images/ivcf_logo.svg" /></a>

<!-- Facebook -->
<a href="https://www.facebook.com/groups/RCAatRPI/" target="_blank"><img alt="Facebook" height="36" src="images/FindUsFB.png" /></a>

<a href="https://union.sympa.rpi.edu/wws/subscribe/rca">Get our Emails</a>

</aside>
</div>
